<?xml version="1.0"?>
<config>
    <modules>
        <Kingmaker_Kmcms>
            <version>0.1.0</version>
        </Kingmaker_Kmcms>
    </modules>
    <adminhtml>
        <!-- The <layout> updates allow us to define our block layouts in a separate file so are aren't messin' with the Magento layout files.  -->
        <layout>
            <updates>
                <kmcms>
                    <file>kmcms.xml</file>
                </kmcms>
            </updates>
        </layout>
        <!-- The <acl> section is for access control. Here we define the pieces where access can be controlled within a role. -->
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <title>CMS</title>
                            <children>
                                <episode translate="title" module="kmcms">
                                    <title>Episodes</title>
                                </episode>
                                <episode translate="title" module="kmcms">
                                    <title>Shows</title>
                                </episode>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <admin>
        <!--
            Here we are telling the Magento router to look for the controllers in the Kingmaker_Kmcms_controllers_Adminhtml before we look in the
            Mage_Adminhtml module for all urls that begin with /admin/controller_name
         -->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kmcms before="Mage_Adminhtml">Kingmaker_Kmcms_Adminhtml</kmcms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <global>
        <helpers>
            <kmcms>
                <class>Kingmaker_Kmcms_Helper</class>
            </kmcms>
        </helpers>
		
		<models>
            <kmcms>
                <class>Kingmaker_Kmcms_Model</class>
                <resourceModel>kmcms_mysql4</resourceModel>
            </kmcms>
             <kmcms_mysql4>
                <class>Kingmaker_Kmcms_Model_Mysql4</class>
                <entities>
                    <episode>
                        <table>kingmaker_kmcms_episode</table>
                    </episode>
                    <show>
                        <table>kingmaker_kmcms_show</table>
                    </show>
                </entities>
            </kmcms_mysql4>
        </models>
		
		<resources>
            <kmcms_setup>
                <setup>
                    <module>Kingmaker_Kmcms</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kmcms_setup>
            <kmcms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kmcms_write>
            <kmcms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kmcms_read>
        </resources>
 
        <blocks>
            <kmcms>
                <class>Kingmaker_Kmcms_Block</class>
            </kmcms>
        </blocks>
		
    </global>
</config>